/**
 * 1st Website Stylesheet
 **/

 * {
    box-sizing: border-box;
  }
  
  body {
  }
  
  .toprightlinks:hover {
    color: rgb(12, 153, 129);
  
  }
  
  .toprightlinks {
    color: rgb(112, 112, 112);
    text-decoration: none;

    
  header {
    padding: 20px;
    color: rgb(255, 255, 255);
    background: rgb(12, 153, 129);
    width: 183px;
    text-align: center;
    font-size: 24px;
    line-height: 19px;
    position: relative;
    right: -533px;
    top: -8px;
  }
  
  #topright {
    padding: 20px;
    color: rgb(112, 112, 112);
    background: rgb(255, 255, 255);
    width: 283px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    right: 396px;
    top: -10px;
  }
  
  #background {
    overflow: auto;
    color: rgb(12, 153, 129);
    position: relative;
    top: -8px;
    background: #e6e6e6;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(138, 138, 138);
  }
  
  #backgroundimg {
    width: 1902px;
    height: 500px;
  }
  
  #mainsection {
    position: absolute;
    top: 100px;
    background: #ffffff;
    width: 960px;
    height: 45%;
    right: 420px;
    border-color: rgb(138, 138, 138);
    border-width: 1px;
    border-style: solid;
  }
  
  #aboutme {
    position: absolute;
    left: 30px;
    top: 10px;
    color: rgb(12, 153, 129);
  }
  
  #secondsection {
    margin: 70px 30px 50px 30px;
    width: 900px;
    height: 300px;
    overflow: auto;
    border-color: rgb(204, 204, 204);
    border-width: 3px 0px 0px 0px;
    border-style: solid;
    
  }
  
  #maintext {
    margin: 20px 0px 20px 20px;
    color: rgb(138, 138, 138);
    width: 670px;
    float: left;
  }
  
  #secondtext {
    float:left;
    
    color: rgb(138, 138, 138);
  }
  
  #cat {
    margin-top: 19px;
    margin-right:20px;
    width: 180px;
    height: 140px;
    float: left;
    overflow: auto;
  }
  
  footer {
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: rgb(12, 153, 129);
    background: rgb(77, 77, 77);
    color: rgb(199, 199, 199);
    font-size: 10px;
    text-align: center;
    line-height: 22px;
    padding: 20px;
    width: 100%;
    height: 40px;
    position: relative;
    top: -13px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  